#include "linux-x86_64-framework"


OTHER_CFLAGS = -DPTHREAD_INSIDE_BUILD -DCFNETWORK_INSIDE_BUILD -DCOREFOUNDATION_INSIDE_BUILD -DFOUNDATION_INSIDE_BUILD -DOBJC_INSIDE_BUILD -DDEBUG -D__LITTLE_ENDIAN__ -fPIC -march=x86_64 $(LINUX_X86_64_CFLAGS)  -DPLATFORM_IS_POSIX -DPLATFORM_USES_BSD_SOCKETS

OTHER_LDFLAGS =  -shared -lm -ldl -lpthread $(LINUX_X86_64_FRAMEWORK_LDFLAGS)

LINUX_x86_64_FOUNDATION_GNU89_INDIVIDUAL_FILE_CFLAGS = -std=gnu89
